<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>{% block title %}Yara's Bakery{% endblock %}</title>

        {% load static %}
</head>
<body>
    <nav>
    {% if user.is_authenticated %}

        {% if user.is_staff %}
            <a href="{% url 'dashboard' %}">My panel</a>
        {% endif %}

        <form action="{% url 'logout' %}" method="POST" style="display: inline;">
            {% csrf_token %}
            <button type="submit">LogOut</button>
        </form>

    {% else %}
        <a href="{% url 'login' %}">LogIn</a>
    {% endif %}
</nav>

    {% block content %}
    {% endblock %}
</body>
</html>