{% extends 'Bakery_app/base.html' %}
{% load static %}

{% block title %}Catalog{% endblock %}

{% block content %}

<a href="{% url 'home' %}"><button>Back</button></a>

<a href="{% url 'empty_cart' %}">Empty Cart</a>
{% for product in products %}
    <hr>
    <div>
        <h3>{{ product.name }}</h3>
        <p>${{ product.price }}</p>
        {% if product.image %}
            <img src="{{ product.image.url }}" width="200">
        {% else %}
            <p>No image</p>
        {% endif %}
        <a href="{% url 'add_to_cart' product.id %}">+</a>
        <a href="{% url 'remove_product' product.id %}">-</a>
        <a href="{% url 'delete_to_cart' product.id %}">Delete</a>
    </div>
{% endfor %}

{% endblock %}