{% extends 'Bakery_app/base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<h2>Panel of Products</h2>

<a href="{% url 'add_product' %}">Add Products</a>

<hr>

{% for product in products %}
    <div>
        <h3>{{ product.name }}</h3>
        <p>Price: ${{ product.price }}</p>
        <p>Stock: {{ product.stock }}</p>
        {% if product.image %}
            <img src="{{ product.image.url }}" width="150">
        {% else %}
            <p>No image</p>
        {% endif %}

        <br>

        <a href="{% url 'edit_product' product.id %}">✏️ Edit</a>

        <form action="{% url 'delete_product' product.id %}" method="POST" style="display: inline;">
            {% csrf_token %}
            <button type="submit">🗑️ Delete</button>
        </form>

        <hr>
    </div>
{% endfor %}

{% endblock %}