{% extends 'Bakery_app/base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="container">

    <a href="{% url 'home' %}">
        <button class="btn-back">Back</button>
    </a>

    <div class="orders-page">
        <div class="orders-card">

            <h1>Panel of Products</h1>

            <div style="text-align:center; margin-bottom:30px;">
                <a href="{% url 'add_product' %}" class="catalog-btn">
                    + Add Product
                </a>
            </div>

            {% for product in products %}
                <div class="order-item">

                    <div class="order-left">

                        <h3>{{ product.name }}</h3>
                        <p>Price: ${{ product.price }}</p>
                        <p>Stock: {{ product.stock }}</p>

                        <div style="margin-top:15px; display:flex; gap:10px; flex-wrap:wrap;">

                            <a href="{% url 'edit_product' product.id %}" class="delete-btn">
                                ✏️ Edit
                            </a>

                            <form action="{% url 'delete_product' product.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="logout-btn">
                                    🗑️ Delete
                                </button>
                            </form>

                        </div>

                    </div>

                    <div class="order-right">

                        {% if product.image %}
                            <img src="{{ product.image.url }}" class="product-img">
                        {% else %}
                            <div class="no-image">No image</div>
                        {% endif %}

                    </div>

                </div>

            {% empty %}

                <p class="no-orders">No products loaded.</p>

            {% endfor %}

        </div>
    </div>

</div>

{% endblock %}