{% extends 'Bakery_app/base.html' %}
{% load static %}

{% block title %}Edit Product{% endblock %}

{% block content %}

<div class="container">

    <a href="{% url 'dashboard' %}">
        <button class="btn-back">Back</button>
    </a>

    <div class="register-page">

        <div class="register-card">

            <h1>Edit Product</h1>
            <p>Update the product information.</p>

            <form method="POST" enctype="multipart/form-data" class="register-form">
                {% csrf_token %}

                <input type="text" name="name" value="{{ product.name }}" required>

                <input type="number" step="0.01" name="price" value="{{ product.price }}" required>

                <input type="number" name="stock" value="{{ product.stock }}" min="0" required>

                <div class="current-image-box">

                    <label>Current image</label>

                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="edit-product-img">
                    {% else %}
                        <div class="no-image">No image</div>
                    {% endif %}

                </div>

                <div class="file-box">
                    <label>Change image</label>
                    <input type="file" name="image">
                </div>

                <button type="submit" class="register-btn">
                    Save Changes
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}